body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

#intro {
    font-size: 18px;
    color: #666;
}

#datetime {
    font-size: 16px;
    color: #999;
}

.contact-links {
    margin-top: 20px;
}

.contact-link {
    display: block; /* Changed from inline-block to block */
    width: 100%; /* Ensures the button takes the full width available */
    margin-bottom: 10px; /* Adds space between the buttons */
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    text-align: center; /* Centers the text inside the button */
    border-radius: 5px;
}

.contact-link:hover {
    background-color: #0056b3;
}

.contact-link.email { background-color: #d14836; }
.contact-link.whatsapp { background-color: #25d366; }
.contact-link.instagram { background-color: #e4405f; }
.contact-link.twitter { background-color: #1da1f2; }
.contact-link.vcard { background-color: #4caf50; }
